/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 0px 80px;
}

.logo h1 {
    margin: 0;
    font-size: 29px;
}
.header__icon {
    width: 120px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin: 0 18px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav a:hover {
    text-decoration: underline;
}

